body {
  font-family: Arial, sans-serif;
  /* background-image: url("content\\background.jpg"); */
  /* background-color: #f8e5f0; */
  background-image: radial-gradient(#f7eaf1, rgb(249, 190, 235)) ;
  margin: 0;
}

header {
  background-color: #333;
  color: white;
  padding: 20px;
}

h1 {
  margin: 0;
}

form {
  max-width: 500px;
  margin: 20px auto;
  padding: 20px;
  background-color: #afc5cc;
  border: 2px solid #100f0f;
  border-radius: 5px;
}

label, input, textarea {
  display: block;
  margin-bottom: 10px;
}

input[type="text"], input[type="email"], input[type="tel"], textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

button[type="submit"] {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #555;
}

footer{
  background-color: #100f0f;
  padding: 40px;
}
